.projects-area {
    padding-top: 75px;
    background-color: #0d5cd2;
}

.project-list {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projects-header {
    font-size: 40px;
    font-weight: 600;
    justify-content: center;
    margin-bottom: 30px;
    text-decoration: underline;
    color: aliceblue;
}

.project-box {
    background-color: white;
    min-height: 300px;
    min-width: 600px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 25px rgb(63, 62, 62);
    border-radius: 30px;
}

@media screen and (max-width: 900px) {
    .projects-header {
        font-size: 35px;
    }

    .projects-area {
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
}