.projects-area {
    padding-top: 75px;
    padding-bottom: 30px;
    background-color: #0d6efd;
}

.projects-header {
    font-size: 40px;
    font-weight: 600;
    justify-content: center;
    margin-bottom: 30px;
    text-decoration: underline;
    color: aliceblue;
}